{{ partial "header.html" . }}

<div id="main">
	<div id="content">
		<div>
		<article role="article">
			<header>
				<h1 class="entry-title">Blog Archive</h1>
			</header>

			<div id="blog-archives">
				{{ range .Data.Pages }}
					{{  .Date.Format "2006" | $.Scratch.Set "postYear"}}
					{{ if ne ($.Scratch.Get "postYear") ($.Scratch.Get "archiveIndexYear") }}
						{{ $.Scratch.Get "postYear" | $.Scratch.Set "archiveIndexYear" }}
						<h2>{{$.Scratch.Get "postYear"}}</h2>
					{{ end }}
					<article>
						<h1><a href="{{.Permalink}}">{{.Title}}</a></h1>
						<time datetime="{{.Date}}" pubdate>
							<span class="month">{{.Date.Format "Jan"}}</span>
							<span class="day">{{.Date.Format "2"}}</span>
							<span class="year">{{.Date.Format "2006"}}</span>
						</time>
						<span class="categories">
							posted in
							{{ range .Params.categories }}
							<a class="label" href="{{ "categories/" | absURL }}{{ . | urlize | lower }}/">{{ . }} </a>							{{ end }}
						</span>
					</article>
				{{ end }}
			</div>
		</article>
		</div>

		{{ partial "sidebar.html" . }}    <!-- sidebar -->
	</div>
</div>

{{ partial "footer.html" . }}   <!-- footer -->
