
<!-- category page -->

{{ partial "header.html" . }}

<div id="main">
  <div id="content">
    <div>
      <article role="article">
        <header>
          <h1 class="entry-title">
            {{ .Data.Singular | title }}: {{ .Title }}
          </h1>
        </header>
        <div id="blog-archives" class="category">
          {{ range .Data.Pages }}
          <h2>
            {{ .Date | dateFormat "2006"}}
          </h2>
          <article>
            <h1>
              <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
            </h1>
            <time>
              <span class="month">{{ .Date | dateFormat "Jan" }}</span>
              <span class="day">{{ .Date | dateFormat "2" }}</span>
            </time>
            <footer>
              <span class="categories"> <!-- show tags -->
                tags:
                <!-- although tags had no issues with isset (it is alwaus lowercase) I switched it to with anyways.
                     However, .Params.tags is not visible inside so I had to use scratch -->
                {{ $.Scratch.Set "tags" .Params.tags }}
                {{ with .Params.categories }}
                {{ range ($.Scratch.Get "tags") }} <a class="category" href="{{ "tags/" | absURL }}{{ . | urlize | lower }}">{{ . }}</a>{{ end }}
                {{ end }}
              </span>
            </footer>
          </article>
          {{ end }}
        </div>
      </article>
    </div>

    {{ partial "sidebar.html" . }}
  </div>
</div>

{{ partial "footer.html" . }}
