<!-- mobile navigation -->
<fieldset class="mobile-nav">
  <!-- apart from Disqus and analytics, this is the only place where we need JavaScript -->
  <select onchange="location = this.value;">
    <option value="">Navigate…</option>
      {{ range .Site.Menus.main }}
        <option value="{{ .URL | absURL }}">» {{ .Name }}</option>
      {{ end }}
  </select>
</fieldset>

<!-- reading menu items from config file -->
<ul class="main-navigation">
  <!-- links to root open in the same window - other links will be opened in a new window if navigationNewWindow is set to true in the config file -->
  {{ range .Site.Menus.main }}
    {{ if eq .URL "/" }}
      <li><a href="{{ "./" | absURL }}" title="{{ .Name }}">{{ .Name }}</a></li>
    {{ else }}
      <li><a href="{{ .URL | absURL }}" title="{{ .Name }}" {{ if eq $.Site.Params.navigationNewWindow true }} target="_blank" {{ end }} rel="noopener noreferrer">{{ .Name }}</a></li>
    {{ end }}
  {{ end }}
</ul>

<ul class="subscription">
  {{ if or .Site.Params.rss .Site.Params.textrss }}
    {{ if .Site.Params.rss }}
        <a href="{{ "index.xml" | absURL }}" target="_blank" type="application/rss+xml" title="rss"><i class="fa fa-rss-square fa-lg"></i></a>
    {{ else }}
    <li><a href="{{ "index.xml" | absURL }}" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
    {{ end }}
  {{ end }}
</ul>

{{ with .Site.Params.searchEngineURL }}
  <form action="{{ . }}" method="get" target="_blank" rel="noopener noreferrer">
    <fieldset role="search">
      <input class="search" type="text" name="q" results="0" placeholder="Search"/>
      <input type="hidden" name="q" value="site:{{ "/" | absURL }}" />
    </fieldset>
  </form>
{{end}}
