<!-- Octopress header partial -->
<hgroup>
  <!-- Remember that .Title will refer to the title of the specific page. For index it is the .Site.Title but is different for individual pages -->
  <h1><a href="{{ "./" | absURL }}">{{ .Site.Title }}</a></h1>
    <h2>{{ .Site.Params.subtitle }}</h2>
</hgroup>
